{% macro displayTopCards(type) %} {% if type == 'movie' %}
<li class="col-span-1 p-4 border">movie 1</li>
<li class="col-span-1 p-4 border">movie 2</li>
<li class="col-span-1 p-4 border">movie 3</li>
<li class="col-span-1 p-4 border">movie 4</li>
<li class="col-span-1 p-4 border">movie 5</li>
<li class="col-span-1 p-4 border">movie 6</li>
{% else %}
<li class="col-span-1 p-4 border">series 1</li>
<li class="col-span-1 p-4 border">series 2</li>
<li class="col-span-1 p-4 border">series 3</li>
<li class="col-span-1 p-4 border">series 4</li>
<li class="col-span-1 p-4 border">series 5</li>
<li class="col-span-1 p-4 border">series 6</li>
{% endif %} {% endmacro %}
