{% macro displayTopCards(category, type) %} {% for item in range(7) %}
{% if type == "movies" %}
<a href="/movie/{{category[item].id}}">
  <li class="relative text-sm col-span-1 md:max-w-[165px] overflow-hidden rounded">
    <img
      src="{{category[item].imageurl}}"
      alt="{{category[item].title}}"
      title="{{category[item].title}}"
      class="w-full object-cover object-center hover:brightness-75"
    />
    <p class="absolute bottom-0 w-full p-2 bg-black opacity-70 text-center text-white">
      {{category[item].title}}
    </p>
  </li>
</a>
{% else %}
<a href="/series/{{category[item].id}}">
  <li class="relative text-sm col-span-1 md:max-w-[165px] overflow-hidden rounded">
    <img
      src="{{category[item].imageurl}}"
      alt="{{category[item].title}}"
      title="{{category[item].title}}"
      class="w-full object-cover object-center hover:brightness-75"
    />
    <p class="absolute bottom-0 w-full p-2 bg-black opacity-70 text-center text-white">
      {{category[item].title}}
    </p>
  </li>
</a>
{% endif %}
{% endfor %} {% endmacro %}
