{% extends 'base.html' %} {% import 'macros.html' as macro %}
{% set my_navigation_bar = ['recent', 'popular', 'genre', 'year', 'az', 'language'] %}
{% set my_active_page = my_active_page|default('recent') %}

{% block title %}
{{type.title()}} {% endblock %} {% block series_tab %} {% if type == "series" %}
<a href="/series" class="p-4 border-b border-blue-500 capitalize">Series</a>
{% else %}
<a
  href="/series"
  class="p-4 border-b border-transparent hover:border-b hover:border-b-blue-500"
  >Series</a
>
{% endif %} {% endblock %} {% block movies_tab %} {% if type == "movies" and not
is_browse %}
<a href="/movies" class="p-4 border-b border-blue-500 capitalize">Movies</a>
{% else %}
<a
  href="/movies"
  class="p-4 border-b border-transparent hover:border-b hover:border-b-blue-500"
  >Movies</a
>
{% endif %} {% endblock %} {% block home_tab %} {% if type == "movies" and
is_browse %}
<a href="/" class="p-4 border-b border-blue-500 capitalize">Browse</a> {% else
%}
<a
  href="/"
  class="p-4 border-b border-transparent hover:border-b hover:border-b-blue-500"
  >Browse</a
>
{% endif %} {% endblock %} {% block show_layout %}
<ul
  class="grid grid-cols-3 md:grid-cols-6 gap-2 justify-items-center py-4 bg-gray-50"
>
  {% if type == "series" %} {{macro.displayTopCards("series")}} {% else %}
  {{macro.displayTopCards("movie")}} {% endif %}
</ul>
<hr />
<div class="my-4">
  {% block nav %}

  <nav class="flex flex-wrap items-center gap-2 justify-start px-3">
    {% for item in my_navigation_bar %}
    {% if item == "recent" %}
    <a href="/{{type}}" {% if item == my_active_page %} class="mini-selected-tab" {% else %} class = "mini-unselected-tab" {% endif %}>{{item.title()}}</a>
    {% elif item == "az" %}
    <a href="/{{type}}-az" {% if item == my_active_page %} class="mini-selected-tab" {% else %} class = "mini-unselected-tab" {% endif %}>A-Z</a>
    {% else %}
    <a href="/{{type}}-{{item}}" {% if item == my_active_page %} class="mini-selected-tab" {% else %} class = "mini-unselected-tab" {% endif %}>{{item.title()}}</a>
    {% endif %}
    {% endfor %}
    
  </nav>
  <hr class="bg-yellow-500 h-[1px] border-0" />
  {% endblock %}
</div>
<div>{% block show_type %} Recent {{type}} {% endblock %}</div>
{% endblock %}
